.Navbar {
    height: 128px;

    display : flex ;
    flex-flow: row wrap ;
    align-items: center ;
    justify-content: space-between ;
    gap : 0 ;
    padding-inline: 2rem ;

    container : Navbar / inline-size ;

}